html {
	min-height: 100%;
}

header {
	width: 100%;
	background: #F06292;
	padding: 50px 0 70px 160px;
	color: #FFFFFF;
}

header > h1 {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
	font-size: 48pt;
}

header > h2 {
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size: 18pt;
}